.ReactModalPortal > div {
    opacity: 0
}

.ReactModalPortal .ReactModal__Overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0
}

.modal {
    background: #333745;
    padding: 20px;
    color: white;
    max-width: 30rem;
    outline: none;
    text-align: center
}

.button {
    background-color: #9301ED;
    width: 100px;
    height: 50px;        
    margin: 0 auto;
    box-shadow: 0px 5px #63029F;
    font: 36px inherit;
    color: white;
    font-size: 18px;
    font-weight: bold;
    justify-content: center;
    align-content: "center";
    padding: 13px;
    border: 10px #9301ED;
    margin-left: 15px
}